body {
    background-image: url("../images/what-the-hex.png");
    background-repeat: repeat;
}

.navbar {
    font-family: 'Hind Madurai', sans-serif;
    letter-spacing: 1px;
}

#headerfont {
    font-family: 'Faster One', cursive;
    font-size: 90px;
    color: #293249;
    text-align: center;
    margin-top: 40px;
    text-shadow: 2px 2px 4px #a7ae90;
}

h3 {
    font-family: 'Faster One', cursive;
    font-size: 50px;
    color: #293249;
    text-align: center;
    text-shadow: 1px 1px 2px #a7ae90;
    margin-bottom: 40px;
}

.article-header {
    font-family: 'Hind Madurai', sans-serif;
    font-style: bold;
    font-size: 30px;
    letter-spacing: 1px;
    color: #ffffff;
}

#articletext {
    font-family: 'Hind Madurai', sans-serif;
    font-size: 32px;
    font-style: bold;
    color: #293249;
}

.card-body {
    background: #f8fceb;
}

.rounded {
    border-radius: 2;
}


@media screen and (max-width: 600px) {
    #headerfont {
      font-size: 40px;
    }

    .article-header {
        font-size: 20px;
    }

    #articletext {
        font-size: 16px;
    }
  }